In [2]:
## First we will visualize the train data

In [3]:
import numpy as np
import pandas as pd
import sklearn

In [4]:
!ls -l china-real-estate-demand-prediction/train

total 4088
-rw-rw-r--@ 1 deepak  staff    6127  8 Aug 07:56 city_indexes.csv
-rw-rw-r--@ 1 deepak  staff  130589  8 Aug 07:56 city_search_index.csv
-rw-rw-r--@ 1 deepak  staff  174046  8 Aug 07:56 land_transactions_nearby_sectors.csv
-rw-rw-r--@ 1 deepak  staff  168460  8 Aug 07:56 land_transactions.csv
-rw-rw-r--@ 1 deepak  staff  590991  8 Aug 07:56 new_house_transactions_nearby_sectors.csv
-rw-rw-r--@ 1 deepak  staff  376737  8 Aug 07:56 new_house_transactions.csv
-rw-rw-r--@ 1 deepak  staff  322116  8 Aug 07:56 pre_owned_house_transactions_nearby_sectors.csv
-rw-rw-r--@ 1 deepak  staff  241849  8 Aug 07:56 pre_owned_house_transactions.csv
-rw-rw-r--@ 1 deepak  staff   63502  8 Aug 07:56 sector_POI.csv

In [35]:
land_transactions = pd.read_csv('china-real-estate-demand-prediction/train/land_transactions.csv')
city_search_index = pd.read_csv('china-real-estate-demand-prediction/train/city_search_index.csv')

land_transactions = pd.read_csv('china-real-estate-demand-prediction/train/land_transactions.csv')
land_transactions_nearby_sectors = pd.read_csv('china-real-estate-demand-prediction/train/land_transactions_nearby_sectors.csv')

new_house_transactions = pd.read_csv('china-real-estate-demand-prediction/train/new_house_transactions.csv')
new_house_transactions_nearby_sectors = pd.read_csv('china-real-estate-demand-prediction/train/new_house_transactions_nearby_sectors.csv')

pre_owned_house_transactions = pd.read_csv('china-real-estate-demand-prediction/train/pre_owned_house_transactions.csv')
pre_owned_house_transactions_nearby_sectors = pd.read_csv('china-real-estate-demand-prediction/train/pre_owned_house_transactions_nearby_sectors.csv')

sector_POI = pd.read_csv('china-real-estate-demand-prediction/train/sector_POI.csv')

#land_transactions.head(5)
#land_transactions.head()
#land_transactions_nearby_sectors.head()
#new_house_transactions.head()
#new_house_transactions_nearby_sectors.shape #head()
#pre_owned_house_transactions.head()
#pre_owned_house_transactions_nearby_sectors.head()
#sector_POI.tail()

,month,sector,num_new_house_transactions,area_new_house_transactions,price_new_house_transactions,amount_new_house_transactions,area_per_unit_new_house_transactions,total_price_per_unit_new_house_transactions,num_new_house_available_for_sale,area_new_house_available_for_sale,period_new_house_sell_through
0,2019-Jan,sector 1,52,4906,28184,13827.14,94,265.91,159.0,15904.0,3.78
1,2019-Jan,sector 2,145,15933,17747,28277.73,110,195.02,1491.0,175113.0,12.29
2,2019-Jan,sector 4,6,725,28004,1424.21,127,356.05,40.0,6826.0,5.95
3,2019-Jan,sector 5,2,212,37432,792.10,106,396.05,161.0,17173.0,83.95
4,2019-Jan,sector 6,5,773,15992,607.94,95,151.99,189.0,19696.0,14.27

In [41]:

print(pre_owned_house_transactions_nearby_sectors.shape, " rows and columns.")
for cols in pre_owned_house_transactions_nearby_sectors:
    print(f"{cols} has {pre_owned_house_transactions_nearby_sectors[cols].isna().sum()} NaN values i.e. {100*pre_owned_house_transactions_nearby_sectors[cols].isna().sum()/pre_owned_house_transactions_nearby_sectors.shape[0]} % \n")

(5427, 6)  rows and columns.
month has 0 NaN values i.e. 0.0 %

sector has 0 NaN values i.e. 0.0 %

num_pre_owned_house_transactions_nearby_sectors has 0 NaN values i.e. 0.0 %

area_pre_owned_house_transactions_nearby_sectors has 0 NaN values i.e. 0.0 %

amount_pre_owned_house_transactions_nearby_sectors has 0 NaN values i.e. 0.0 %

price_pre_owned_house_transactions_nearby_sectors has 0 NaN values i.e. 0.0 %

## Input files analysis:
  <u> sector_POI </u> : 
  - It has 86 rows and 142 columns
  - 'surrounding_housing_average_price' has 4 NaN values (4.7%)
  - 'surrounding_shop_average_rent' has 3 NaN values (3.5%)

  <u> city_indexes </u> :
  - It had 7 rows and 74 columns.
  - total_fixed_assets_10k has 5 NaN values i.e. 71.4 %
  - main_business_taxes_and_surcharges_10k has 4 NaN values i.e. 57.1 %
  - total_fixed_asset_investment_10k has 7 NaN values i.e. 100.0 %
  - real_estate_development_investment_completed_10k has 4 NaN values i.e. 57.1 %
  - residential_development_investment_completed_10k has 4 NaN values i.e. 57.1 %
  - science_expenditure_10k has 1 NaN values i.e. 14.3 %
  - education_expenditure_10k has 1 NaN values i.e. 14.3 %

  <u> land_transactions </u> :
  - It has 5896 rows and 6 columns
  - A lot of 0.0 but no NaN

  <u> land_transactions_nearby_sectors </u> :
  - It has 5025 rows and 6 columns
  - A lot of 0.0 but no NaN

  <u> new_house_transactions </u> :
  - It has 5433 rows and 11 columns
  - num_new_house_available_for_sale has 14 NaN values i.e. 0.26 %
  - area_new_house_available_for_sale has 14 NaN values i.e. 0.26 %
  - period_new_house_sell_through has 14 NaN values i.e. 0.26 %

  <u> new_house_transactions_nearby_sectors </u> :
  - It has 5360 rows and 11 columns
  - No NaN values

  <u> pre_owned_house_transactions </u>
  - It has 5360 rows and 6 columns
  - price_pre_owned_house_transactions has 14 NaN values i.e. 0.3 %

  <u> pre_owned_house_transactions_nearby_sectors </u>
  - It has 5427 rows and 6 columns
  - No NaN values